body {
  background-color: black;
  font-family: "Rajdhani", sans-serif;
  color: greenyellow;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  padding-top: 2rem;
}

#operative {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

button {
  border: 2px solid white;
  border-radius: 10px;
  color: greenyellow;
  background-color: black;
  padding: 0.3rem;
}

#password-container {
  border: 2px solid white;
  width: 80%;
  height: 2rem;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#password {
  color: greenyellow;
  font-size: 1rem;
  padding: 0 1rem;
  font-weight: bold;
}

@media (width > 400px) {
  #password-container {
    width: 15rem;
  }
}
